.mode-toggle-container {
    margin-top: auto;
    padding: 24px;
}

.mode-toggle-container button {
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.btn__light,
.btn__dark {
    margin-right: 6px;
    text-align: center;
}



.checkbox-light,
.checkbox-dark {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
}
