.mode-toggle-container {
    margin-top: auto;
    padding: 24px;
}



.btn__light,
.btn__dark {
    margin-right: 6px;
    text-align: center;
}



.checkbox-light,
.checkbox-dark {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
}
