@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('./modeBtns.css');



:root {
    --white: #ffffff;
    --mintGreen: #3EBD93;
    --eerieBlack: #1A1A1A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Electrolize', sans-serif;
}


body {
    display: grid;
    place-items: center;
    height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.lightMode {
    background-color: var(--mintGreen);
    color: var(--white);
    transition: background-color 0.5s, color 0.5s;

}

.darkMode {
    background-color: var(--eerieBlack);
    color: var(--white);
    transition: background-color 0.5s, color 0.5s;
}

.resetBtn {
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.nav__btn {
    padding: 4px 0 4px 0;
}

.nav__btn--active {

    scale: 1.3;
    transition: 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.content__tab {
    display: none;
}

.content__tab--active {
    display: block;
    animation: fadeIn 0.5s ease-in;
}

.logo {
    margin-right: 5px;
}

.main {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr 1.7fr 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 95vw;
    height: 90vh;
    border: 1px solid var(--white);
}

.title {
    grid-area: 1 / 1 / 2 / 2;
}

.nav {
    grid-area: 2 / 1 / 3 / 2;
}

.mode-toggle-container {
    grid-area: 3 / 1 / 4 / 3;
}

.content {
    grid-area: 1 / 2 / 3 / 3;
    align-self: center;
}



.title,
.nav {
    padding: 24px;
}

.content__2 {
    flex-direction: column;
    align-items: flex-end;
}

.content__4 {
    flex-direction: column;
    align-items: center;
}

.content__2 a {
    font-weight: 700;
}

.content__4 a,
.content__2 a {
    width: fit-content;
    padding: 12px 24px;
    transition: transform 0.5s
}


/* Modal Style */

.hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.modal-text {
    color: #1A1A1A;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}


/* Media querys  */

@media screen and (max-width: 768px) {
    .main {
        width: 90vw;
        height: 95vh;
        border: 2px solid var(--white);

    }

    .modal {
        display: block;
    }

    .hidden {
        display: none;
    }

    .modal-text {
        text-align: center;
        transform: translate(-60%);
    }
}

@media screen and (min-width: 768px) {
    .content__2 {
        margin-right: 72px;
        font-size: 48px;
    }

    .content__2 a {
        opacity: 0.5;
        padding: 24px 0 24px 0;
    }

    .content__4 {
        transition: transform 0.3s ease;
    }

    .content__4 a:hover {
        transform: scale(1.5)
    }

    .content__2 a:hover {
        transform: translateX(-50px);
        opacity: 1;
    }
}
